.github {
  display: inline-flex;
  position: fixed;
  top: 0;
  right: 0;
}

.octocat {
  fill: hsl(0deg 0% 13%);
  color: hsl(0deg 0% 97%);
}

.octocat__arm {
  transform-origin: 130px 106px;
  animation: octocat-wave 560ms ease-in-out;
}

@media (width > 500px) {
  .octocat__arm {
    animation: none;
  }

  .octocat:hover .octocat__arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}
